---
import releases from '../../data/releases.json';
---

<div class="grid">
  {releases.map((r) => (
    <a href={r.link} class="card">
      <div class="title">{r.title}</div>
      <div class="volume">Vol. {r.volume}</div>
      <div class="publisher">{r.publisher}</div>
      <div class="date">{r.date}</div>
    </a>
  ))}
</div>

